*.xccheckout
Examples/StoryboardCellTemplateExample/StoryboardCellTemplateExample.xcodeproj/project.xcworkspace/xcuserdata
Examples/StoryboardCellTemplateExample/StoryboardCellTemplateExample.xcodeproj/xcuserdata
